<div class="au-control-input au-control-input--compact au-control-input--block">
  <input type="radio" id="field_{{value}}" name="{{value}}" value="{{value}}" class="au-control-input__input" {{state}} />
  <label class="au-control-input__text" for="field_{{value}}">{{value}}</label>
</div>