<li>
  <h3 class="au-display-md"><a href="{{link}}">{{title}}</a></h3>
  <p class="health-field--truncate health-field--truncate--closed" id="widget_{{title}}">{{summary}}</p>
  <a href="#" class="health-field--truncate__control health-field--truncate__control--closed" aria-expanded="false" aria-controls="widget_{{title}}">view more</a>

  <div class="clinical-trials-results__metadata">
    <div class="health-field">
      <div class="health-field__label">Broad health category</div>
      <div class="health-field__item">{{conditionCategory}}</div>
    </div>
    <div class="health-field">
      <div class="health-field__label">Specific health category</div>
      <div class="health-field__item">{{conditionCode}}</div>
    </div>
    <div class="health-field">
      <div class="health-field__label">Trial focus</div>
      <div class="health-field__item">{{purposeOfStudy}}</div>
    </div>
    <div class="health-field">
      <div class="health-field__label">Recruitment status</div>
      <div class="health-field__item">{{recruitmentStatus}}</div>
    </div>
    <div class="health-field">
      <div class="health-field__label">Recruitment sites</div>
      <div class="health-field__item">{{recruitmentSites}}</div>
    </div>
    <div class="health-field">
      <div class="health-field__label">Gender</div>
      <div class="health-field__item">{{gender}}</div>
    </div>

  </div>

</li>