<div class="health-band {{band-class}}">
  <div class="health-band__container">
    <h2>{{band-title}}</h2>
    <p class="au-introduction">Classes: {{band-class}}</p>
    {{#if band-content}} {{band-content}} {{else}} {{> includes/loremipsum }} {{/if}}
  </div>
</div>