<div class="health-card {{card-class}}">
  {{#if card-image}}
    <div class="health-card__image"><img src="{{card-image}}"></div>
  {{else}}
    <div class="health-card__image">{{>image}}</div>
  {{/if}}
  <div class="health-card__body">
    <h2 class="health-card__title">
      <a class="health-card__link" href="#">{{card-title}}</a>
    </h2>
    
    {{#if card-text}}
      <div class="health-card__text">
        <p>{{card-text}}</p>
      </div>
    {{/if}}
    
    {{#if card-date}}
      <div class="health-card__date">{{card-date}}</div>
    {{/if}}
  </div>
</div>