<div class="col-sm-3">
  <a class="health-card health-card--centered health-card--shadow {{card-class}}" href="#">
    <div class="health-card__image">
      <img src="{{card-img}}" />
    </div>
    <h3 class="health-card__title">
      {{#if card-title}}
        {{card-title}}
      {{else}}
        Still empower extensible vortals via turnkey process improvements. Yes!
      {{/if}}
    </h3>
    <div class="health-card__text">
      {{card-text}}
    </div>
  </a>
</div>